[Unit]
Description=Raspberry Pi Sensor API
After=network.target

[Service]
Type=simple
User=hallmatt
WorkingDirectory=[PATH TO SENSOR_SERVER FOLDER]
ExecStart=[PATH TO SENSOR_SERVER FOLDER]/env/bin/python3 [PATH TO SENSOR_SERVER FOLDER]/sensor_server.py
Restart=always
RestartSec=5
Environment="PATH=/home/pi/project/env/bin:/usr/bin:/bin"

[Install]
WantedBy=multi-user.target